.footer-wrapper {
	color: $white;
	background: $dark-grey;
	padding: 50px 0 20px;

	@media screen and (max-width: 1199.9px) {
		padding: 20px;
	}

	.footer-logo-block {
		margin-bottom: 30px;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 15px;
		}

		a {
			display: block;
			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.footer-contacts-block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 20px;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 40px;
		}

		.single-element {
			width: 100%;
			a {
				display: flex;
				align-items: center;
				gap: 10px;
				color: $white;

				h6 {
					margin: 0;

					@media screen and (max-width: 1399.9px) {
						font-size: 16px;
					}
				}

				svg {
					min-width: 25px;
					color: $white;
				}

				&:hover {
					color: $brand-blue;
				}
			}

			div {
				display: flex;
				align-items: center;
				gap: 10px;
				color: $white;

				h6 {
					margin: 0;

					@media screen and (max-width: 1399.9px) {
						font-size: 16px;
					}
				}

				svg {
					min-width: 25px;
					color: $white;
				}

				&:hover {
					color: $brand-blue;
				}
			}
		}
	}

	.widget {
		color: $white;

		&:not(:last-child) {
			margin-bottom: 25px;
			@media screen and (max-width: 1199.9px) {
				margin-bottom: 30px;
			}
		}
	}

	.widget-menu {
		ul {	
			padding: 0;
			margin: 0;
			list-style: none;

			&:not(:last-child) {
				margin-bottom: 35px;
			}

			li {
				width: 100%;

				&:not(:last-child) {
					margin-bottom: 15px;

					@media screen and (max-width: 1199.9px) {
						margin-bottom: 10px;				
					}
				}

				a {
					display: block;
					font-size: 18px;
					line-height: 22px;
					font-weight: 600;
					color: $white;

					&:hover {
						color: $brand-blue;
					}

					@media screen and (max-width: 1399.9px) {
						font-size: 16px;
					}

					@media screen and (max-width: 1199.9px) {
						font-size: 12px;
						line-height: 15px;
						text-align: center;
						width: 100%;
					}
				}
			}			
		}		
	}

	.widget-html {
		text-align: center;
		img {
			width: 100%;
			max-width: 290px;
			height: auto;

			@media screen and (max-width: 1199.9px) {
				margin: 0 auto;	
			}		
		}
	}

	.reg-info {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;

		@media screen and (max-width: 1199.9px) {
			justify-content: center;
			flex-direction: column;
			text-align: center;
			gap: 5px;
		}

		span {
			display: block;
			font-size: 18px;
			line-height: 22px;
			font-weight: 600;

			@media screen and (max-width: 1399.9px) {
				font-size: 16px;
			}

			@media screen and (max-width: 1199.9px) {
				text-align: center;
			}
		}
	}

	.copyright-block {
		@media screen and (max-width: 1199.9px) {
			margin-top: 30px;
			text-align: center;
		}
		p {

		}
	}
}