@charset "UTF-8";
/* Bootstrap */
/*Сюда лучше всего подключить только те стили, которые используются на всем сайте*/
/*@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
        url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}*/
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 999999;
  background: url("../img/gototop.png") no-repeat;
  background-size: 100%; }

main {
  flex-grow: 1; }

header, main, footer {
  flex-shrink: 0; }

ul, ol {
  list-style: inherit; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px; } }
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px; } }
@media (min-width: 1500px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1420px; } }
@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px; } }
@media (min-width: 1700px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1620px; } }
@media (min-width: 1800px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1720px; } }
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px; }

p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400; }

h1, .h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 88px;
  line-height: 100%; }

h2, .h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 54px; }

h3, .h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 46px; }

h4, .h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%; }

h5, .h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%; }

h6, .h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%; }

.text-tiny {
  font-size: 12px;
  line-height: 18px; }

.text-small {
  font-size: 14px;
  line-height: 20px; }

.text-normal {
  font-size: 16px;
  line-height: 24px; }

.text-medium {
  font-size: 20px;
  line-height: 26px; }

.text-large {
  font-size: 22px;
  line-height: 30px; }

.text-xl {
  font-size: 24px;
  line-height: 24px; }
  @media screen and (min-width: 1200px) {
    .text-xl {
      font-size: 21px; } }
  @media screen and (min-width: 1500px) {
    .text-xl {
      font-size: 24px; } }

.bold {
  font-weight: 700; }

.semi-bold {
  font-weight: 600; }

.medium {
  font-weight: 500; }

a {
  text-decoration: none;
  transition: all .25s ease-in-out; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  padding: 15px 24px;
  font-size: 18px;
  line-height: 18px;
  min-height: 48px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none; }

.btn-primary {
  background: #00A2E6;
  color: #ffffff;
  border: 1px solid transparent; }
  .btn-primary:hover {
    background: #6DB9FF;
    color: #ffffff;
    border: 1px solid transparent; }
  .btn-primary:focus {
    background: #0089C3;
    color: #ffffff;
    border: 1px solid transparent; }
  .btn-primary:active {
    background: #0089C3;
    color: #ffffff;
    border: 1px solid transparent; }

.btn-secondary {
  background: #393939;
  color: #ffffff;
  border: 1px solid transparent; }
  .btn-secondary:hover {
    background: #6DB9FF;
    color: #ffffff;
    border: 1px solid transparent; }
  .btn-secondary:focus {
    background: #0089C3;
    color: #ffffff;
    border: 1px solid transparent; }
  .btn-secondary:active {
    background: #0089C3;
    color: #ffffff;
    border: 1px solid transparent; }

.btn-outline {
  background: #ffffff;
  border: 1px solid #393939;
  color: #393939; }
  .btn-outline:hover {
    background: #393939;
    color: #ffffff;
    border: 1px solid #393939; }
  .btn-outline:focus {
    background: #0089C3;
    color: #ffffff;
    border: 1px solid transparent; }
  .btn-outline:active {
    background: #0089C3;
    color: #ffffff;
    border: 1px solid transparent; }

.btn-small {
  font-size: 14px;
  line-height: 14px;
  min-height: 38px;
  border-radius: 8px; }

.btn-large {
  min-height: 60px; }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #989898; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #989898; }

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #989898; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #989898; }

textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #989898; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #989898; }

textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #989898; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #989898; }

form {
  margin: 0; }

.form-group {
  width: 100%;
  margin-bottom: 20px; }

.form-control {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #D5D5D5;
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2B2B;
  min-height: 60px;
  box-shadow: none !important; }

.form-select {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #D5D5D5;
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2B2B;
  min-height: 60px;
  box-shadow: none !important; }

.form-check {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  min-height: auto; }
  .form-check .form-check-input {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-top: -1px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 0;
    cursor: pointer;
    outline: none !important;
    background-color: #ffffff;
    border-color: #D4D4D4;
    border-radius: 2px; }
    .form-check .form-check-input[type="checkbox"] {
      border-radius: 2px; }
    .form-check .form-check-input[type="radio"] {
      border-radius: 50%; }
    .form-check .form-check-input:disabled {
      opacity: 1 !important; }
      .form-check .form-check-input:disabled + .form-check-label {
        opacity: 1 !important; }
    .form-check .form-check-input:active {
      filter: brightness(100%); }
    .form-check .form-check-input:focus {
      box-shadow: none !important; }
    .form-check .form-check-input:checked {
      background-color: #00A2E6;
      border-color: #00A2E6; }
  .form-check .form-check-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: none;
    color: #2B2B2B; }
    .form-check .form-check-label a {
      color: #2B2B2B;
      text-decoration: underline; }
      .form-check .form-check-label a:hover {
        color: #00A2E6; }

label {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2B2B; }

.form-floating > label {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center; }

.form-floating > .form-control {
  padding: 20px;
  line-height: 20px;
  min-height: 60px;
  height: 60px; }

.form-floating > .form-select {
  padding: 20px;
  line-height: 20px;
  min-height: 60px;
  height: 60px; }

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.75) translateY(-0.75rem) translateX(0.4rem); }

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 20px;
  padding-bottom: 10px; }

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e"); }

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation li {
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: flex; } }
.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
  margin: 0 0 1.5em; }

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%; }

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block; }

.post {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0; }

.widget select {
  max-width: 100%; }

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%; }

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr); }

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr); }

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr); }

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr); }

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr); }

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr); }

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr); }

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr); }

.gallery-caption {
  display: block; }

/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none; }

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block; }

/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0; }

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em; }

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em; }

.header-wrapper {
  position: relative;
  padding: 0;
  color: #2B2B2B; }
  .header-wrapper .top-part {
    padding: 20px 0; }
  .header-wrapper .logo-block a {
    display: block; }
    .header-wrapper .logo-block a img {
      height: 60px;
      max-height: 60px;
      width: auto;
      max-width: 100%;
      object-fit: contain; }
  .header-wrapper .logo-block .logo-block-description {
    padding: 10px 0px 0px 12px;
    font-size: 11px;
    line-height: 15px; }
  .header-wrapper .info-block {
    max-width: 374px;
    width: 100%;
    padding-top: 5px; }
    .header-wrapper .info-block p {
      margin: 0; }
    .header-wrapper .info-block .working-hours {
      color: #989898;
      margin-top: 20px; }
  .header-wrapper .contact-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-top: 5px; }
    @media screen and (min-width: 1200px) {
      .header-wrapper .contact-block {
        gap: 20px; } }
    @media screen and (min-width: 1500px) {
      .header-wrapper .contact-block {
        gap: 30px; } }
    .header-wrapper .contact-block .contact-information {
      display: flex;
      flex-direction: column;
      gap: 7px;
      align-items: flex-end;
      justify-content: center; }
      .header-wrapper .contact-block .contact-information a {
        color: #2B2B2B; }
        .header-wrapper .contact-block .contact-information a:hover {
          color: #00A2E6; }
    .header-wrapper .contact-block .btn {
      min-width: 220px; }
  .header-wrapper .header-menu {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #00A2E6; }
    .header-wrapper .header-menu .navmenu {
      width: 100%; }
      .header-wrapper .header-menu .navmenu > ul {
        width: 100%;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1px; }
        .header-wrapper .header-menu .navmenu > ul li a {
          padding: 20px;
          color: #ffffff;
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          white-space: nowrap; }
          @media screen and (min-width: 1200px) {
            .header-wrapper .header-menu .navmenu > ul li a {
              font-size: 15px;
              line-height: 15px;
              padding: 20px 14px; } }
          @media screen and (min-width: 1500px) {
            .header-wrapper .header-menu .navmenu > ul li a {
              font-size: 18px;
              line-height: 18px;
              padding: 20px; } }
          .header-wrapper .header-menu .navmenu > ul li a:hover {
            background: #6DB9FF; }
          .header-wrapper .header-menu .navmenu > ul li a.text-underline {
            text-decoration: underline; }
        .header-wrapper .header-menu .navmenu > ul li.current-menu-item a {
          background: #6DB9FF; }
        .header-wrapper .header-menu .navmenu > ul li.menu-item-has-children a:after {
          content: '';
          width: 12px;
          height: 6px;
          background: url("../../assets/img/arrow.svg") no-repeat center;
          display: block; }
    .header-wrapper .header-menu .sub-menu-wrapper {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      max-width: 100%;
      height: 65vh;
      max-height: 550px;
      background-color: #ffffff;
      list-style: none;
      box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.25);
      left: 50%;
      transform: translate(-50%, 0%);
      padding: 10px; }
      @media (min-width: 576px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 510px; } }
      @media (min-width: 768px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 690px; } }
      @media (min-width: 992px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 930px; } }
      @media (min-width: 1200px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 1110px; } }
      @media (min-width: 1400px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 1290px; } }
      @media (min-width: 1500px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 1390px; } }
      @media (min-width: 1600px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 1490px; } }
      @media (min-width: 1700px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 1590px; } }
      @media (min-width: 1800px) {
        .header-wrapper .header-menu .sub-menu-wrapper {
          max-width: 1690px; } }
      .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        height: 100%; }
        .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 25px;
          margin-bottom: 10px; }
          .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li > a {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            height: 80px;
            border: 2px solid #6DB9FF;
            font-size: 24px;
            line-height: 36px;
            font-weight: 600;
            color: #2B2B2B;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
            background: transparent; }
            .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li > a:hover {
              color: #ffffff; }
            .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li > a:after {
              display: none !important; }
          .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper {
            display: none;
            position: absolute;
            left: calc(25% + 25px);
            top: 0;
            padding: 20px 0;
            width: calc(75% - 25px);
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            align-items: stretch;
            justify-content: flex-start;
            gap: 24px;
            /* Track */
            /* Handle */ }
            .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper::-webkit-scrollbar {
              width: 10px;
              height: 6px;
              padding: 0 0px;
              scrollbar-width: thin;
              scrollbar-gutter: auto; }
            .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper::-webkit-scrollbar-track {
              background-color: #D4D4D4; }
            .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper::-webkit-scrollbar-thumb {
              cursor: pointer;
              border-radius: 3px;
              background-color: #00A2E6;
              border: 1px solid #D4D4D4; }
            .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu {
              width: calc(40% - 16px);
              padding: 0;
              margin: 0;
              list-style: none; }
              .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li {
                width: 100%;
                margin-bottom: 5px; }
                .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li:last-child {
                  padding-bottom: 10px; }
                .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li a {
                  padding: 0 10px;
                  width: 100%;
                  color: #2B2B2B;
                  font-size: 20px;
                  line-height: 36px;
                  font-weight: 500;
                  justify-content: flex-start;
                  text-align: left; }
                  .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li a:hover {
                    color: #00A2E6;
                    background-color: transparent; }
                  .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li a:after {
                    display: none !important; }
                .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li.main-element {
                  margin-bottom: 20px; }
                  .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li.main-element a {
                    border-left: 3px solid #00A2E6;
                    font-weight: 700;
                    font-size: 24px; }
                    .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li .secondary-wrapper .sub-second-menu li.main-element a:hover {
                      color: #2B2B2B;
                      background-color: transparent; }
          .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li.visible-hover > a {
            color: #ffffff;
            border: 2px solid #6DB9FF;
            background: #6DB9FF; }
          .header-wrapper .header-menu .sub-menu-wrapper .sub-main-menu > li.visible-hover .secondary-wrapper {
            display: flex; }

/*.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.toggle-button {
    position: fixed;
    width: 40px;
    height: 20px;
    top: 10px;
    right: 10px;
    padding: 0px;
    transition: .25s;
    z-index: 15;
    background: rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
    .menu-bar {        
        width: 100%;
        height: 4px;
        background: #fff;
        transition: .5s;
    }
    .menu-bar-top {
        margin-bottom: 4px;
    }
    .menu-bar-middle {
        margin-bottom: 4px;
    }
    .menu-bar-bottom {
        
    }
}
.button-open {
    right: 10px;
    .menu-bar {
        width: 40px;    
    }
    .menu-bar-top {
        transform: rotate(45deg) translate(8px, 8px);
        transition: .5s;
    }
    .menu-bar-middle {
        transform: translate(230px);
        transition: .1s ease-in;
        opacity: 0;
    }
    .menu-bar-bottom {
        transform: rotate(-45deg) translate(5px, -6px);
        transition: .5s;
    }
}
@media (min-width: 992px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li {

        }
    }
    .toggle-button {
        display: none;
    }
}
@media (max-width: 991px) {
    .menu-wrap {
        background-color: rgba(0,0,0,.9);
        position: fixed;
        top: 0;
        height: 100%;
        width: 280px;
        right: -280px;        
        overflow-y: auto;
        transition: .25s;
        z-index: 10;
    }
    .menu-show {
        right: 0;
    }
    .menu-sidebar {
        padding: 80px 15px;
        position: relative;
        .menu {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                a {
                    width: 100%;
                    text-align: left;
                    color: #fff !important;                    
                    &:hover {
                        &::after {
                            background-position: -100% 0;
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        height: 0.15em;
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        left: 50%;
                        transform: translate(-50%);
                        background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
                        transition: background-position .2s .1s ease-out;
                        background-size: 200% auto;
                    }
                }
            }
            .menu-item-has-children {
                position: relative;
                .sub-menu {
                    display: none;
                }
            }   
        }        
    }
}*/
.footer-wrapper {
  color: #ffffff;
  background: #393939;
  padding: 50px 0 20px; }
  .footer-wrapper .footer-logo-block {
    margin-bottom: 30px; }
    .footer-wrapper .footer-logo-block a {
      display: block; }
      .footer-wrapper .footer-logo-block a img {
        max-width: 100%;
        height: auto; }
  .footer-wrapper .footer-contacts-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px; }
    .footer-wrapper .footer-contacts-block .single-element {
      width: 100%; }
      .footer-wrapper .footer-contacts-block .single-element a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ffffff; }
        .footer-wrapper .footer-contacts-block .single-element a h6 {
          margin: 0; }
          @media screen and (max-width: 1399.9px) {
            .footer-wrapper .footer-contacts-block .single-element a h6 {
              font-size: 16px; } }
        .footer-wrapper .footer-contacts-block .single-element a svg {
          min-width: 25px;
          color: #ffffff; }
        .footer-wrapper .footer-contacts-block .single-element a:hover {
          color: #00A2E6; }
      .footer-wrapper .footer-contacts-block .single-element div {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ffffff; }
        .footer-wrapper .footer-contacts-block .single-element div h6 {
          margin: 0; }
          @media screen and (max-width: 1399.9px) {
            .footer-wrapper .footer-contacts-block .single-element div h6 {
              font-size: 16px; } }
        .footer-wrapper .footer-contacts-block .single-element div svg {
          min-width: 25px;
          color: #ffffff; }
        .footer-wrapper .footer-contacts-block .single-element div:hover {
          color: #00A2E6; }
  .footer-wrapper .widget {
    color: #ffffff; }
    .footer-wrapper .widget:not(:last-child) {
      margin-bottom: 25px; }
  .footer-wrapper .widget-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .footer-wrapper .widget-menu ul:not(:last-child) {
      margin-bottom: 35px; }
    .footer-wrapper .widget-menu ul li {
      width: 100%; }
      .footer-wrapper .widget-menu ul li:not(:last-child) {
        margin-bottom: 15px; }
      .footer-wrapper .widget-menu ul li a {
        display: block;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: #ffffff; }
        .footer-wrapper .widget-menu ul li a:hover {
          color: #00A2E6; }
        @media screen and (max-width: 1399.9px) {
          .footer-wrapper .widget-menu ul li a {
            font-size: 16px; } }
  .footer-wrapper .widget-html img {
    width: 100%;
    max-width: 290px;
    height: auto; }
  .footer-wrapper .reg-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; }
    .footer-wrapper .reg-info span {
      display: block;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600; }
      @media screen and (max-width: 1399.9px) {
        .footer-wrapper .reg-info span {
          font-size: 16px; } }

.modal .modal-content {
  border-radius: 25px;
  box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.25);
  padding: 65px 50px; }
  @media (max-width: 799.9px) {
    .modal .modal-content {
      padding: 30px; } }
  .modal .modal-content .btn-close {
    position: absolute;
    top: 26px;
    right: 26px;
    color: #2B2B2B;
    opacity: 1 !important;
    padding: 0;
    margin: 0; }
    @media (max-width: 799.9px) {
      .modal .modal-content .btn-close {
        top: 15px;
        right: 15px; } }
  .modal .modal-content .modal-body {
    padding: 0; }
    .modal .modal-content .modal-body h4 {
      font-size: 35px;
      line-height: 40px;
      font-weight: 900;
      color: #2B2B2B;
      margin-bottom: 40px; }
      @media (max-width: 799.9px) {
        .modal .modal-content .modal-body h4 {
          font-size: 25px;
          line-height: 30px; } }
    .modal .modal-content .modal-body .btn {
      margin-top: 40px;
      width: 100%;
      max-width: 300px; }

@media (min-width: 800px) {
  .modal-dialog {
    max-width: 700px; } }

/*# sourceMappingURL=essential.css.map */
