@charset "UTF-8";
/* Bootstrap */
/*Сюда лучше всего подключить только те стили, которые используются на всем сайте*/
/*@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
        url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}*/
html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

/*.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 999999;
    background: url('../img/gototop.png') no-repeat;    
    background-size: 100%;  
}*/
main {
  flex-grow: 1; }

header, main, footer {
  flex-shrink: 0; }

ul, ol {
  list-style: inherit; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  font-family: "Lato", sans-serif; }

p {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400; }

.text-tiny {
  font-size: 12px;
  line-height: 18px; }

a {
  text-decoration: none;
  transition: all .25s ease-in-out; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 10px; }

.btn-primary {
  background: #fff;
  border: 1px solid #000;
  color: #000; }
  .btn-primary:hover {
    background: #fff;
    border: 1px solid #000;
    color: #000; }
  .btn-primary:focus {
    background: #fff;
    border: 1px solid #000;
    color: #000; }
  .btn-primary:active {
    background: #fff;
    border: 1px solid #000;
    color: #000; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: grey; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: grey; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: grey; }

:-moz-placeholder {
  /* Firefox 18- */
  color: grey; }

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation li {
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: flex; } }
.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
  margin: 0 0 1.5em; }

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%; }

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block; }

.post {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0; }

.widget select {
  max-width: 100%; }

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%; }

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr); }

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr); }

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr); }

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr); }

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr); }

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr); }

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr); }

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr); }

.gallery-caption {
  display: block; }

/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none; }

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block; }

/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0; }

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em; }

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em; }

.header-wrapper {
  padding-top: 30px; }

/*.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.toggle-button {
    position: fixed;
    width: 40px;
    height: 20px;
    top: 10px;
    right: 10px;
    padding: 0px;
    transition: .25s;
    z-index: 15;
    background: rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
    .menu-bar {        
        width: 100%;
        height: 4px;
        background: #fff;
        transition: .5s;
    }
    .menu-bar-top {
        margin-bottom: 4px;
    }
    .menu-bar-middle {
        margin-bottom: 4px;
    }
    .menu-bar-bottom {
        
    }
}
.button-open {
    right: 10px;
    .menu-bar {
        width: 40px;    
    }
    .menu-bar-top {
        transform: rotate(45deg) translate(8px, 8px);
        transition: .5s;
    }
    .menu-bar-middle {
        transform: translate(230px);
        transition: .1s ease-in;
        opacity: 0;
    }
    .menu-bar-bottom {
        transform: rotate(-45deg) translate(5px, -6px);
        transition: .5s;
    }
}
@media (min-width: 992px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li {

        }
    }
    .toggle-button {
        display: none;
    }
}
@media (max-width: 991px) {
    .menu-wrap {
        background-color: rgba(0,0,0,.9);
        position: fixed;
        top: 0;
        height: 100%;
        width: 280px;
        right: -280px;        
        overflow-y: auto;
        transition: .25s;
        z-index: 10;
    }
    .menu-show {
        right: 0;
    }
    .menu-sidebar {
        padding: 80px 15px;
        position: relative;
        .menu {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                a {
                    width: 100%;
                    text-align: left;
                    color: #fff !important;                    
                    &:hover {
                        &::after {
                            background-position: -100% 0;
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        height: 0.15em;
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        left: 50%;
                        transform: translate(-50%);
                        background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
                        transition: background-position .2s .1s ease-out;
                        background-size: 200% auto;
                    }
                }
            }
            .menu-item-has-children {
                position: relative;
                .sub-menu {
                    display: none;
                }
            }   
        }        
    }
}*/

/*# sourceMappingURL=essential.css.map */
