.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	padding: 15px 24px;
	font-size: 18px;
	line-height: 18px;
	min-height: 48px;
	border-radius: 10px;
	border: none;
	outline: none;
	box-shadow: none;
}
.btn-primary {
	background: $brand-blue;
	color: $white;	
	border: 1px solid transparent;
	&:hover {
		background: $light-blue;
		color: $white;	
		border: 1px solid transparent;
	}
	&:focus {
		background: $dark-blue;
		color: $white;	
		border: 1px solid transparent;
	}
	&:active {
		background: $dark-blue;
		color: $white;	
		border: 1px solid transparent;
	}
}
.btn-secondary {
	background: $dark-grey;
	color: $white;	
	border: 1px solid transparent;
	&:hover {
		background: $light-blue;
		color: $white;	
		border: 1px solid transparent;
	}
	&:focus {
		background: $dark-blue;
		color: $white;	
		border: 1px solid transparent;
	}
	&:active {
		background: $dark-blue;
		color: $white;	
		border: 1px solid transparent;
	}
}

.btn-outline {
	background: $white;
	border: 1px solid $dark-grey;
	color: $dark-grey;
	&:hover {
		background: $dark-grey;
		color: $white;	
		border: 1px solid $dark-grey;
	}
	&:focus {
		background: $dark-blue;
		color: $white;	
		border: 1px solid transparent;
	}
	&:active {
		background: $dark-blue;
		color: $white;	
		border: 1px solid transparent;
	}
}

.btn-small {
	font-size: 14px;
	line-height: 14px;
	min-height: 38px;
	border-radius: 8px;
}

.btn-large {
	min-height: 60px;
}
