.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
}
.btn-primary {
	padding: 15px 24px;
	vertical-align: middle;
	background: $bright-blue;
	font-size: 18px;
	line-height: 18px;
	height: 48px;
	opacity: 1;
	border-radius: 10px;
	text-transform: none;
	&:hover {
		background: sky-blue;
	}
	&:focus {
		background: sky-blue;
	}
	&:active {
		background: $strong-blue;
	}
}
.btn-secondary {
	padding: 12px 25px;
	vertical-align: middle;
	background: $bright-blue;
	font-size: 14px;
	line-height: 14px;
	height: 38px;
	opacity: 1;
	border-radius: 8px;
	text-transform: none;
	&:hover {
		background: sky-blue;
	}
	&:focus {
		background: sky-blue;
	}
	&:active {
		background: $strong-blue;
	}
}
.btn-tertiary {
	padding: 12px 25px;
	vertical-align: middle;
	background: $dark-gray;
	font-size: 14px;
	line-height: 14px;
	height: 38px;
	opacity: 1;
	border-radius: 8px;
	text-transform: none;
	&:hover {
		background: sky-blue;
	}
	&:focus {
		background: sky-blue;
	}
	&:active {
		background: $strong-blue;
	}
}
.btn-quaternary {
	padding: 12px 25px;
	vertical-align: middle;
	background: $white;
	font-size: 14px;
	line-height: 14px;
	height: 38px;
	opacity: 1;
	border: 1px solid $dark-gray;
	border-radius: 8px;
	text-transform: none;
	&:hover {
		background: $dark-gray;
	}
	&:focus {
		background: $dark-gray;
	}
	&:active {
		background: $strong-blue;
	}
}
 