$white:  		   #ffffff; 
$black:            #000000;
$extra-light-grey: #F5F5F5;
$light-grey:       #D4D4D4;
$text-grey:	       #2B2B2B;
$dark-grey: 	   #393939;
$grey:	           #989898;
$grey-2:	       #636363;
$grey-3:	       #525252;
$grey-4:	       #474747;
$light-blue:       #6DB9FF;
$dark-blue:        #0089C3;
$brand-blue: 	   #00A2E6;
$green:            #2EA96D;
$red:              #E02723;