@import "../elements/_color_map";

body {
	background: #f1f1f1;
}

main {
	@media screen and (max-width: 1199.9px) {
		margin-top: 85px;
	}
}

.main-banner {
	width: 100%;
	height: 100%;
	min-height: 500px;
	max-height: 800px;
	position: relative;
	padding: 150px 0;

	@media screen and (max-width: 1399.9px) {
		padding: 100px 0;
	}

	.video-for-banner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(57, 57, 57, .55);
			z-index: 2;
			pointer-events: none;
			display: block;
		}
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
			position: relative;
			z-index: 1;
		}
	}

	.main-info {
		position: relative;
		z-index: 3;
		width: 100%;
	}

	.main-banner-info {
		width: 100%;
		h1 {
			margin-bottom: 10px;
			color: $white;
			span {
				color: $brand-blue;
			}

			@media screen and (max-width: 1199.9px) {
				margin-bottom: 30px;
				max-width: 345px;
			}
		}

		h4 {
			margin-bottom: 40px;
			color: $white;
			width: 100%;
			max-width: 527px;

			@media screen and (max-width: 1199.9px) {
				margin-bottom: 35px;
			}
		}

		.btn {
			width: 100%;
			max-width: 300px;

			@media screen and (max-width: 1199.9px) {
				max-width: 350px;
			}
		}
	}

	.main-banner-cards {
		width: 100%;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 20px;

		.single-card {
			width: calc(50% - 10px);
			padding: 25px 22px 37px;
			border-radius: 20px;
			background: rgba(43,43,43,.6);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 22px;
			transition: all .2s ease-in-out;
			img {
				height: 100px;
				width: auto;
			}

			h5 {
				margin: 0;
				color: $white;
			}

			&:hover {
				background: linear-gradient(90deg, #2B2B2B 0%, #6DB9FF 100%);
			}

			@media screen and (max-width: 1399.9px) {
				padding: 15px 15px 20px;
				gap: 15px;

				img {
					height: 80px;
					width: auto;
				}

				h5 {
					font-size: 20px;
    				line-height: 30px;
				}
			}
		}

		@media screen and (max-width: 1199.9px) {
			display: none;
		}
	}
}

.vent-block {
	width: 100%;

	.col-xl-10 {
		@media screen and (max-width: 1560px) {
			width: 100% !important;
		}
	}

	h2 {
		color: $text-grey;
		margin-bottom: 60px;
		width: 100%;
		text-align: center;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 30px;
		}
	}

	.all-vent {
		width: 100%;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 21px;
		margin-bottom: 70px;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 40px;
			gap: 20px;
		}

		.single-vent {
			width: calc(33.33% - 16px);
			border-radius: 25px;
			background: $white;

			@media screen and (max-width: 1199.9px) {
				width: calc(50% - 10px);
			}

			@media screen and (max-width: 767.9px) {
				width: 100%;
			}

			a {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				color: $text-grey;
			}

			.image-wrapper {	
				width: 100%;
				height: 320px;
				position: relative;
				border-radius: 25px 25px 0 0;
				overflow: hidden;

				@media screen and (max-width: 1199.9px) {
					height: 240px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: relative;
					z-index: 1;
				}

				&:after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					background: rgba(255, 255, 255, .2);
					display: block;
				}
			}

			.vent-info {
				height: calc(100% - 320px);
				padding: 20px;

				@media screen and (max-width: 1199.9px) {
					height: calc(100% - 240px);
					padding: 20px 15px;
				}

				h3 {
					margin-bottom: 15px;
					color: $text-grey;
				}

				p {
					color: $text-grey;
				}
			}
		}
	}

	.btn {
		width: 100%;
		max-width: 300px;

		@media screen and (max-width: 1199.9px) {
			max-width: 345px;
		}
	}
}

.services-block {
	width: 100%;	

	h2 {
		color: $text-grey;
		margin-bottom: 60px;
		width: 100%;
		text-align: center;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 30px;
		}
	}

	.all-services {
		width: 100%;
		display: grid;
		grid-template-columns: 40% 60%;
		gap: 20px;

		@media screen and (max-width: 991.9px) {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
		}

		.single-service {
			padding: 30px;	
			border-radius: 25px;
			background: $white;
			display: flex;
			align-items: stretch;
			gap: 20px;

			@media screen and (max-width: 1199.9px) {
				grid-template-columns: 50% 50%;
				padding: 20px;
			}

			@media screen and (max-width: 991.9px) {
				width: 100%;
				flex-direction: column;
				align-items: flex-start;
			}

			.image-wrapper {
				width: 350px;
				height: 100%;
				border-radius: 15px;
				overflow: hidden;
				position: relative;

				@media screen and (max-width: 1399.9px) {
					width: 300px;
				}

				@media screen and (max-width: 1199.9px) {
					width: 30%;
				}

				@media screen and (max-width: 991.9px) {
					width: 100%;
					height: 300px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					position: relative;
					z-index:1;
				}

				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					display: block;
					background: rgba(0,0,0,.2);
					
				}

				&:after {
					content: '';
					width: calc(100% - 30px);
					height: calc(100% - 30px);
					position: absolute;
					top: 15px;
					left: 15px;
					z-index: 3;
					display: block;
					background: rgba(0,0,0,0);
					border: 5px solid rgba(255,255,255,.7);
				}
			}

			.service-info {
				width: calc(100% - 370px);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 20px;

				@media screen and (max-width: 1399.9px) {
					width: calc(100% - 320px);
				}

				@media screen and (max-width: 1199.9px) {
					width: calc(70% - 20px);
				}

				@media screen and (max-width: 991.9px) {
					width: 100%;
				}

				h3 {
					margin-bottom: 0;
					color: $text-grey;
				}

				p {
					margin-bottom: 0;
					color: $text-grey;
					display: block;
					overflow: hidden;
				    display: -webkit-box;
				    -webkit-line-clamp: 8;
				    -webkit-box-orient: vertical;
				    max-height: 208px;

					@media screen and (max-width: 1560px) {
						font-size: 18px;
						line-height: 24px;
						-webkit-line-clamp: 5;
					    -webkit-box-orient: vertical;
					    max-height: 208px;
					}	

					@media screen and (max-width: 991.9px) {
						-webkit-line-clamp: 8;
					}	
				}

				a {
					color: $brand-blue;
					display: flex;
					align-items: flex-end;
					gap: 5px;

					h5 {
						margin: 0;
						text-decoration: underline;
						transition: all .25s ease-in-out;
					}

					svg {
						min-width: 24px;
						width: 24px;
						height: 24px;
						color: $brand-blue;
					}

					&:hover {
						h5 {
							text-decoration: none;
						}
					}
				}
			}

			&:first-child {
				flex-direction: column;
				align-items: flex-start;

				@media screen and (min-width: 768px) {
					grid-column-start: 1;
				    grid-column-end: 2;
				    grid-row-start: 1;
				    grid-row-end: 3;
				}
				
				.image-wrapper {
					width: 100%;
					height: 497px;

					@media screen and (max-width: 1399.9px) {
						height: 400px;
					}

					@media screen and (max-width: 1199.9px) {
						height: 300px;
					}

					&:after {
						content: '';
						width: calc(100% - 54px);
						height: calc(100% - 42px);
						position: absolute;
						top: 21px;
						left: 27px;
						z-index: 3;
						display: block;
						background: rgba(0,0,0,0);
						border: 5px solid rgba(255,255,255,.7);
					}
				}

				.service-info {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					gap: 20px;

					h3 {
						margin-bottom: 0;
						color: $text-grey;
					}

					p {
						margin-bottom: 0;
						color: $text-grey;
					}

					a {
						color: $brand-blue;
						display: flex;
						align-items: flex-end;
						gap: 5px;

						h5 {
							margin: 0;
							text-decoration: underline;
							transition: all .25s ease-in-out;
						}

						svg {
							min-width: 24px;
							width: 24px;
							height: 24px;
							color: $brand-blue;
						}

						&:hover {
							h5 {
								text-decoration: none;
							}
						}
					}
				}
			}

			@media screen and (min-width: 768px) {
				&::nth-child(2) {
					grid-column-start: 2;
				    grid-column-end: 3;
				    grid-row-start: 1;
				    grid-row-end: 2;
				}

				&::last-child {
					grid-column-start: 2;
				    grid-column-end: 3;
				    grid-row-start: 2;
				    grid-row-end: 3;
				}
			}
		}
	}
} 

.count-block {
	padding: 70px 0;
	background: linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%);

	@media screen and (max-width: 1199.9px) {
		padding: 30px 0;
	}

	@media screen and (max-width: 991.9px) {
		padding: 30px 0 0;
	}

	h2 {
		color: $text-grey;
		width: 100%;
		text-align: center;
	}

	.single-count {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		justify-content: flex-start;
		text-align: center;

		@media screen and (max-width: 991.9px) {
			margin-bottom: 50px;
		}

		span {
			color: $dark-blue;
			display: block;
			font-size: 140px;
			line-height: 140px;
			font-weight: 700;

			@media screen and (max-width: 1560px) {
				font-size: 110px;
				line-height: 110px;
			}

			@media screen and (max-width: 1399.9px) {
				font-size: 90px;
				line-height: 90px;
			}

			@media screen and (max-width: 1199.9px) {
				font-size: 70px;
				line-height: 70px;
			}
		}

		p {
			color: $text-grey;
			display: block;
			font-size: 32px;
			line-height: 45px;
			font-weight: 700;
			margin-bottom: 0;

			@media screen and (max-width: 1560px) {
				font-size: 26px;
				line-height: 38px;
			}

			@media screen and (max-width: 1399.9px) {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}
}

.objects-block {
	background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
	padding-top: 100px;

	.single-object-ind {
		margin-bottom: 40px;

		h2 {
			margin-bottom: 20px;
			color: $text-grey;
		}

		p {
			margin-bottom: 0;
			color: $text-grey;
		}
	}

	.all-objects {
		width: 100%;
		padding: 30px 40px;
		border: 1px dashed $text-grey;
		border-radius: 40px;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;		
		gap: 20px;

		@media screen and (max-width: 1399.9px) {
			gap: 21px;
		}

		@media screen and (max-width: 1199.9px) {
			padding: 10px;
			border: none;
			border-radius: 0;
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
		}

		.single-object {
			width: calc(25% - 15px);
			padding: 20px;
			background: $white;
			border-radius: 15px;
			box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.16);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			gap: 14px;

			@media screen and (max-width: 1399.9px) {
				width: calc(33.33% - 14px);
			}

			@media screen and (max-width: 1199.9px) {
				width: 100%;
				max-width: 290px;
				padding: 15px;
			}

			&:first-child {
				padding: 0px;
				background: transparent;
				border-radius: 0;
				box-shadow: none;
				align-items: flex-start;

				@media screen and (max-width: 1199.9px) {
					width: 100%;
					max-width: 100%;
				}
			}

			h2 {
				margin-bottom: 20px;
				color: $text-grey;

				@media screen and (max-width: 1399.9px) {
					margin-bottom: 0px;
				}

				@media screen and (max-width: 1199.9px) {
					margin-bottom: 20px;
				}
			}

			p {
				margin-bottom: 0;
				color: $text-grey;
			}

			.image-wrapper {
				width: 100%;
				height: 180px;
				border-radius: 15px;
				overflow: hidden;
				img {

				}
			}

			h5 {
				margin-bottom: 0;
				color: $text-grey;
				width: 100%;
				text-align: center;
			}
		}
	}
}

.form-block {
	width: 100%;
	.form-wrapper {
		width: 100%;
		max-width: 1520px;
		margin: 0 auto;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		border-radius: 50px;
		overflow: hidden;
		background: $white;
		.form-container {
			width: 45%;
			padding: 50px;

			@media screen and (max-width: 1399.9px) {
				width: 60%;
				padding: 40px 35px;
			}

			@media screen and (max-width: 1199.9px) {
				width: 100%;
				padding: 30px 20px;
			}

			h3 {
				margin-bottom: 30px;
				color: $text-grey;

				@media screen and (max-width: 1199.9px) {
					margin-bottom: 20px;
				}
			}

			form {
				width: 100%;
			}

			.form-group {
				width: 100%;
				margin-bottom: 20px;
			}

			.inline-form-group {
				margin-top: 30px;
				display: flex;
				align-items: center;
				gap: 20px;
				flex-wrap: wrap;

				@media screen and (max-width: 1199.9px) {
					margin-top: 26px;
					justify-content: center;
				}

				.btn {
					width: 100%;
					max-width: 300px;

					@media screen and (max-width: 1199.9px) {
						max-width: 345px;
					}
				}

				span {
					font-family: 'Nunito Sans', sans-serif;
					font-weight: 900;
					font-size: 30px;
					line-height: 30px;
					display: inline-block;
					color: $red;
				}
			}
		}

		.image-block {
			width: 55%;
			position: relative;

			@media screen and (max-width: 1399.9px) {
				width: 40%;
			}

			@media screen and (max-width: 1199.9px) {
				display: none;
			}

			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				display: block;
				background: rgba(43, 43, 43, 0.2);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

.about-block {
	width: 100%;
	padding: 120px 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@media screen and (max-width: 1199.9px) {
		padding: 50px 0;
	}

	.text-container {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;

		@media screen and (min-width: 1200px) {
			max-width: 80%;
		}

		@media screen and (min-width: 1700px) {
			max-width: 50%;
		}
	}

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(109, 185, 255, 0.7) 100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
		display: block;
	}

	h2 {
		margin-bottom: 40px;
		text-align: left;
		color: $text-grey;
		position: relative;
		z-index: 2;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 20px;
			width: 100%;
			text-align: center;
		}
	}
	p {
		font-size: 22px;
		line-height: 32px;
		color: $text-grey;
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin-bottom: 35px;
		}

		@media screen and (max-width: 1199.9px) {
			font-size: 16px;
			line-height: 28px;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}

.bg-wrapper {
	padding: 100px 0;
	background: linear-gradient(180deg, #FFFFFF 35.58%, #F1F1F1 100%);

	@media screen and (max-width: 1199.9px) {
		padding: 60px 0;
	}
}

.why-us {
	width: 100%;

	h2 {
		margin-bottom: 60px;
		color: $text-grey;
		width: 100%;
		text-align: center;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 40px;
		}
	}

	.single-reason {
		width: 100%;
		height: calc(100% - 40px);
		padding: 30px;
		background: $white;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		border-radius: 25px;
		box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.16);
		margin-bottom: 40px;
		img {
			width: auto;
			max-width: 100%;
			height: 100px;
		}

		h4 {
			color: $text-grey;
			margin-bottom: 0;
		}

		h6 {
			color: $text-grey;
			margin-bottom: 0;
		}

		@media screen and (max-width: 1199.9px) {
			height: calc(100% - 20px);
			padding: 20px;
			margin-bottom: 20px;
			border-radius: 16px;

			img {
				height: 50px;
			}
		}
	}
}

.our-projects {
	width: 100%;

	h2 {
		margin-bottom: 30px;
		color: $text-grey;
		width: 100%;
		text-align: center;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 20px;
		}
	}

	p {
		margin: 0 auto 50px;
		color: $text-grey;
		width: 100%;
		text-align: center;
		max-width: 995px;

		@media screen and (max-width: 1199.9px) {
			max-width: 100%;
		}
	}

	.projects-slider-wrapper {
		width: 100%;
		text-align: center;
		position: relative;

		.projects-navigations {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			top: 50%;
		    left: 0;
		    transform: translate(0, -50%);
			.projects-swiper-button-prev {
				svg {
					width: 55px;
					height: 55px;
					min-width: 55px;
					color: $brand-blue;
				}
			}
			.projects-swiper-button-next {
				svg {
					width: 55px;
					height: 55px;
					min-width: 55px;
					color: $brand-blue;
				}
			}

			@media screen and (max-width: 1199.9px) {
				position: relative;
				top: auto;
			    left: auto;
			    transform: translate(0, 0);
			    justify-content: center;
			    gap: 20px;
			}
		}

		.projects-slider {
			width: 100%;
			max-width: 90%;
			margin: 0 auto;

			@media screen and (max-width: 1199.9px) {
				max-width: 100%;
			}

			.swiper-wrapper {
				.single-slide {
					max-width: 560px;
					width: 560px;
					position: relative;
					overflow: hidden;
					padding: 10px;

					img {
						border-radius: 15px;
						width: 540px;
						height: 380px;
						object-fit: cover;
						object-position: center;
						opacity: 0.8;
						transition: all .2s ease-in-out;
					}

					&:after {
						content: '';
						width: calc(100% - 20px);
						height: 380px;
						background: rgba(0,0,0,.2);
						position: absolute;
						top: 10px;
						left: 10px;
						border-radius: 15px;
						overflow: hidden;
						transition: all .2s ease-in-out;
						opacity: 0;
					}

					&.swiper-slide-active {
						max-width: 560px;
						width: 560px;

						img {
							width: 540px;
							height: 380px;
							opacity: 1;
						}

						&:after {
							opacity: 1;
						}
					}

					.swiper-slide-shadow-left {
						background: transparent !important;
					}

					.swiper-slide-shadow-right {
						background: transparent !important;
					}

					@media screen and (max-width: 1199.9px) {
						max-width: 90%;
						width: 100%;
						padding: 0px;

						img {
							width: 100%;
							height: 500px;
						}

						&:after {
							width: 100%;
							height: 500px;
							top: 0px;
							left: 0px;
						}

						&.swiper-slide-active {
							max-width: 90%;
							width: 100%;

							img {
								width: 100%;
								height: 500px;
							}
						}
					}

					@media screen and (max-width: 767.9px) {						
						img {
							height: 350px;
						}

						&:after {
							height: 350px;
						}

						&.swiper-slide-active {							
							img {
								height: 350px;
							}
						}
					}
				}
			}

			.projects-swiper-pagination {

				.swiper-pagination-bullet {
					border-radius: 4px;
					width: 60px;
					height: 10px;
					background: $grey;
					&.swiper-pagination-bullet-active {
						background: $brand-blue;
					}
				}

				@media screen and (max-width: 1199.9px) {
					display: none !important;
				}
			}
		}
	}
}

.steps-block {
	h2 {
		margin-bottom: 60px;
		color: $text-grey;
		width: 100%;
		text-align: center;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 30px;
		}
	}

	.all-steps {
		width: 100%;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 39px;
		margin-bottom: 60px;

		@media screen and (max-width: 1199.9px) {
			margin-bottom: 40px;
			gap: 20px;
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
			padding: 0 0 10px;
		}

		.single-step {
			width: calc(33.33% - 26px);
			min-height: 280px;
			border-radius: 40px;
			padding: 30px 40px;
			background: linear-gradient(108.19deg, #FFFFFF 62.12%, rgba(109, 185, 255, 0.5) 107.65%);
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			position: relative;
			span {
				font-family: 'Nunito Sans', sans-serif;
				font-weight: 900;
				font-size: 250px;
				line-height: 250px;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				background: linear-gradient(180deg, #6DB9FF 0%, #0089C3 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: .3;
			}

			img {
				width: 140px;
				height: 140px;
				object-fit: contain;
				object-position: center;
				position: absolute;
				top: 10px;
				right: 10px;
				z-index: 1;
				opacity: .2;
			}

			h5 {
				color: $text-grey;
				margin: 0;
				position: relative;
				z-index: 2;
			}

			@media screen and (max-width: 1199.9px) {
				width: 310px;
				min-width: 310px;
				min-height: 270px;
				border-radius: 15px;
				padding: 20px;

				span {
					font-size: 150px;
					line-height: 150px;
				}

				img {
					width: 100px;
					height: 100px;
				}				
			}
		}
	}

	.btn {
		min-width: 300px;
		text-transform: uppercase;

		@media screen and (max-width: 1199.9px) {
			min-width: 100%;
			max-width: 345px;
		}
	}
}

.documents-block {
	padding: 100px 0;
	background: linear-gradient(180deg, #FFFFFF 46.63%, #F1F1F1 100%);
	width: 100%;

	@media screen and (max-width: 1199.9px) {
		padding: 30px 0;
	}

	.title-block {
		margin-bottom: 50px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 20px;

		.title-info {
			width: 100%;
			max-width: 1320px;
			h2 {
				margin-bottom: 5px;
				color: $text-grey;
			}
			p {
				margin-bottom: 0;
				color: $text-grey;
				font-size: 22px;
				line-height: 32px;
			}
		}

		.docs-navigation {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 40px;

			.docs-swiper-button-prev {
				svg {
					min-width: 60px;
					width: 60px;
					height: 60px;
					color: $brand-blue;
				}
			}

			.docs-swiper-button-next {
				svg {
					min-width: 60px;
					width: 60px;
					height: 60px;
					color: $brand-blue;
				}
			}
		}

		@media screen and (max-width: 1199.9px) {
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			.title-info {
				max-width: 100%;
				text-align: center;
				h2 {
					margin-bottom: 7px;
				}
				p {
					font-size: 18px;
					line-height: 26px;
				}
			}

			.docs-navigation {
				justify-content: center;
			}
		}
	}

	.documents-slider {
		.single-slide {
			padding: 10px 5px;
			cursor: pointer;

			img {
				max-width: 100%;
				width: 100%;
				height: 590px;
				object-fit: cover;
				object-position: center;
				border-radius: 16px;
				box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
				border: 3px solid transparent;
				transition: all .2s ease-in-out;

				@media screen and (max-width: 1199.9px) {
					height: 500px;
				}
			}

			&.swiper-slide-active {
				img {
					border: 2px solid $brand-blue;
				}
			}
		}
	}
}

.director-block {
	width: 100%;
	.boss-wrapper {
		width: 100%;
		max-width: 1540px;
		margin: 0 auto;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 30px;	

		.image-wrapper {
			width: 365px;
			height: 550px;
			border-radius: 35px;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}

		.boss-info {
			position: relative;
			width: calc(100% - 395px);
			padding: 65px 30px 65px 50px;
			background: $white;
			border-radius: 35px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 20px;

			&:before {
				content: '';
				width: 250px;
				height: 250px;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;
				background: url('../../assets/img/quote.svg') no-repeat center;
			}
			.boss-quote {
				width: 100%;
				padding-left: 33px;
				border-left: 3px solid $dark-grey;
				position: relative;
				z-index: 2;
				p {
					font-weight: 600;
					font-size: 28px;
					line-height: 40px;
					color: $text-grey;
					margin-bottom: 0;
					font-style: italic;

					@media screen and (max-width: 1399.9px) {
						font-size: 22px;
						line-height: 32px;
					}
				}
			}

			.boss-name-wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-start;
				position: relative;
				z-index: 2;
				.boss-name {
					font-weight: 700;
					font-size: 28px;
					line-height: 40px;
					text-align: right;
					color: $text-grey;
					display: block;
					font-style: italic;

					@media screen and (max-width: 1399.9px) {
						font-size: 22px;
						line-height: 32px;
					}
				}
				.boss-role {
					font-weight: 600;
					font-size: 28px;
					line-height: 40px;
					text-align: right;
					color: $grey;
					display: block;
					font-style: italic;

					@media screen and (max-width: 1399.9px) {
						font-size: 22px;
						line-height: 32px;
					}
				}
			}
		}

		@media screen and (max-width: 1199.9px) {
			.boss-info {
				padding: 30px 20px;

				.boss-quote {				
					p {
						font-size: 20px;
						line-height: 30px;						
					}
				}

				.boss-name-wrapper {
					.boss-name {
						font-size: 20px;
						line-height: 30px;
					}
					.boss-role {
						font-size: 20px;
						line-height: 30px;
					}
				}
			}
		}

		@media screen and (max-width: 991.9px) {
			max-width: 100%;
			gap: 0px;	
			flex-wrap: wrap;
			.image-wrapper {
				width: 100%;
				height: auto;
				border-radius: 15px 15px 0 0;
			}

			.boss-info {
				position: relative;
				width: 100%;
				padding: 30px 20px;
				border-radius: 0 0 15px 15px;

				&:before {
					width: 150px;
					height: 150px;
					left: 0;
					right: auto;
				}

				.boss-quote {
					width: 100%;
					padding-left: 0;
					border-left: none;
					p {
						font-size: 18px;
						line-height: 26px;						
					}
				}

				.boss-name-wrapper {
					.boss-name {
						font-size: 18px;
						line-height: 26px;
					}
					.boss-role {
						font-size: 18px;
						line-height: 26px;
					}
				}
			}
		}
	}
}

.map-block {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;

	@media screen and (max-width: 991.9px) {
		flex-wrap: wrap;
	}

	iframe {
		min-width: 100vw;
		width: 100vw;
		height: 500px;
	}

	.contact-map-wrapper {
		position: absolute;
		top: auto;
		right: calc(25% - 210px);
		z-index: 1;
		width: 420px;
		padding: 30px 30px 40px;
		border-radius: 25px;
		background: $white;
		box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.15);

		h3 {
			margin-bottom: 20px;
			color: $text-grey;
		}

		.contacts-block {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 20px;
			flex-direction: column;
			.single-element {
				width: 100%;

				a {
					display: flex;
					align-items: center;
					gap: 10px;
					color: $text-grey;

					&:hover {
						color: $brand-blue;
					}
				}

				div {
					display: flex;
					align-items: center;
					gap: 10px;
					color: $text-grey;
				}

				svg {
					min-width: 25px;
					width: 25px;
					height: 25px;
				}

				h6 {
					margin: 0;
				}
			}
		}

		@media screen and (max-width: 991.9px) {
			position: relative;
			top: auto;
			right: auto;
			z-index: 1;
			width: 100%;
			padding: 30px 30px 40px;
			border-radius: 0;
		}
	}
}

.breadcrumb {
    margin-top: 80px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    .breadcrumb-item + .breadcrumb-item::before {
        color: #00A2E6;
    }
    .breadcrumb-item:last-child::before {
        color: $grey; 
    }
    .breadcrumb-item a {
        color: $brand-blue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .breadcrumb-item.active {
        color: $grey;
    }
}

.about-block-page {
	.about-block {
		padding-top: 0;
		padding-bottom: 176px;
		&:before {
			display: none;
		}
	}
	.director-block {
		margin-bottom: 80px;
	}
	.count-block {
		padding: 70px 0;
	}
	.bg-wrapper {
		padding-top: 76px;
	}
	.why-us h2 {
		margin-bottom: 100px;
	}
	.proud-block {
		h2 {
			text-align: center;
			margin-bottom: 40px;
		}
		.proud-wrapper {
		    display: flex;
		    align-items: stretch;
		    justify-content: center;
		    gap: 35px;
		    margin-bottom: 110px;
		    .proud-info {
		    	width: 330px;
		    	box-shadow: 4px 4px 24px 0px #00000029;
		        overflow: hidden;
    			border-radius: 16px 16px 0 0;
		    	.proud-quote {
		    		color: $text-grey;
		    		text-align: center;
		    		padding: 10px 15px 21px;
		    		.text-normal {
		    			color: $grey;
		    		}	
		    	}
		    }
		}
	}

	.documents-block {
		.title-block {
			margin-bottom: 50px;
			.title-info {
				h2 {
					margin-bottom: 20px;
					font-weight: 900;
				}
				p {
					font-weight: 400;
				}
			}
		}
	}
}

.portfolio-page {
	.video-projects {
		.video-grid {
		    display: grid;
		    grid-template-columns: repeat(3, 1fr);
		    column-gap: 40px;
		    row-gap: 30px;
			.card {
			    padding: 18px;
			    border-radius: 16px;
			    background-color: #f8f9fa;
			    box-shadow: 4px 4px 24px 0px #00000029;
			    border: none;
			    overflow: hidden;
				video {
				    border-radius: 16px;
				}
			}
		}
	}
	.documents-block {
		background: none;
		.title-block {
			margin-bottom: 60px;
			.title-info {
				h2 {
					margin-bottom: 30px;
					font-weight: 900;
				}
				p {
					font-weight: 400;
				}
			}
		}
	}
}

.documents-page {
	.documents-block {
		background: none;
		.title-block {
			margin-bottom: 60px;
			.title-info {
				h2 {
					margin-bottom: 20px;
					font-weight: 900;
				}
				p {
					font-weight: 400;
					color: $black;
				}
			}
		}
	}
}

.contacts-page {
	.contact-wrapper {
		.wrapper-contacts-block {
			display: flex;
			gap: 70px;
			justify-content: space-between;
			.contacts-block {
				width: calc(50% - 45px);
				background-color: $white;
				padding: 24px 38px 34px 30px;
				border-radius: 16px;
				h2 {
					margin-bottom: 26px;
					color: $text-grey;
				}
				.all-single-element {
					margin-bottom: 40px;
					.single-element {
						display: flex;
						align-items: center;
						margin-bottom: 20px;
						.single-address {
							display: flex;
							gap: 10px;
							h6 {
								margin-bottom: 0;
								color: $text-grey;
							}					
						}
						a {
							display: flex;
							gap: 10px;
							h6 {
								margin-bottom: 0;
								color: $text-grey;
							}
						}
					}
				}
				.company-info {
					h4 {
						font-weight: 800;
						color: $text-grey;
						margin-bottom: 20px;
					}
					h6 {
						margin-bottom: 20px;
					}
				}
			}
			.map-block {
				width: calc(50% - 45px);
				border-radius: 16px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: 16px;
				}
			}
		}
	}
	.form-block {
		.form-wrapper {
			max-width: 100%;
		}
	}
}

.price-page {
	h2 {
		color: $text-grey;
		margin-bottom: 60px;
	}
	.price-block {
		table {
			width: 100%;
			max-width: 100%;
    		table-layout: fixed;
			thead {
				tr {
					th {
						width: 33.33%;
						color: $black;
						padding: 25px;
						text-align: center;
						background: #6DB9FF66;
						border: 1px solid $light-blue;
						h4 {
							line-height: 30px;
							white-space: nowrap;
							margin-bottom: 0;
						}
					}
				}
			}
			tbody {
				tr {
					td {
						width: 33.33%;
						border: 1px solid $light-blue;
						padding: 20px 40px;
						white-space: nowrap;
						overflow: hidden;        
						text-overflow: ellipsis;     
						:hover {
    						color: $dark-blue;
    					}
						a {
							font-weight: 400;
							font-size: 28px;
							line-height: 28px;
							color: $text-grey;
							white-space: nowrap;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.payment-page {
	.payment-company {
		color: $text-grey;
		margin-bottom: 37px;
		h2 {
			margin-bottom: 30px;
		}
		h6 {
			font-size: 18px;
			font-weight: 400;
		}
		img {
			margin-top: -122px;
		}
	}
}

.info-page {
	color: $text-grey;
	h3 {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.two-column-list {
	    display: flex;
	    flex-direction: column;
	    gap: 20px;
	    font-size: 16px;
	    line-height: 32px;
	    color: $text-grey;
	    .row {
	        display: flex;
	        flex-direction: row;
	        align-items: flex-start;
	        gap: 30px;
	    }

	    .bold {
	        width: 410px;
	    }

	    .row > div:not(.bold) {
	        flex: 1;
	    }

	    ul {
	        margin-top: 30px;
	        margin-left: 20px;
	        padding-left: 20px;
	    }

	    li {
	        margin-bottom: 4px;
	    }
	}
    ul {
        margin-left: 40px;
        padding-left: 20px;
    }
    .text-large {
    	margin-top: 20px;
    }
}
