@import "../elements/_color_map";

body {
	background: #f1f1f1;
}

.main-banner {
	width: 100%;
	height: 100%;
	min-height: 500px;
	max-height: 800px;
	position: relative;
	padding: 150px 0;
	.video-for-banner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(57, 57, 57, .55);
			z-index: 2;
			pointer-events: none;
			display: block;
		}
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
			position: relative;
			z-index: 1;
		}
	}

	.main-info {
		position: relative;
		z-index: 3;
		width: 100%;
	}

	.main-banner-info {
		width: 100%;
		h1 {
			margin-bottom: 10px;
			color: $white;
			span {
				color: $brand-blue;
			}
		}

		h4 {
			margin-bottom: 40px;
			color: $white;
			width: 100%;
			max-width: 527px;
		}

		.btn {
			width: 100%;
			max-width: 300px;
		}
	}

	.main-banner-cards {
		width: 100%;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 20px;

		.single-card {
			width: calc(50% - 10px);
			padding: 25px 22px 37px;
			border-radius: 20px;
			background: rgba(43,43,43,.6);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 22px;
			transition: all .2s ease-in-out;
			img {
				height: 100px;
				width: auto;
			}

			h5 {
				margin: 0;
				color: $white;
			}

			&:hover {
				background: linear-gradient(90deg, #2B2B2B 0%, #6DB9FF 100%);
			}
		}
	}
}

.vent-block {
	width: 100%;

	h2 {
		color: $text-grey;
		margin-bottom: 60px;
		width: 100%;
		text-align: center;
	}

	.all-vent {
		width: 100%;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 21px;
		margin-bottom: 70px;

		.single-vent {
			width: calc(33.33% - 16px);
			border-radius: 25px;
			background: $white;

			a {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				color: $text-grey;
			}

			.image-wrapper {	
				width: 100%;
				height: 320px;
				position: relative;
				border-radius: 25px 25px 0 0;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: relative;
					z-index: 1;
				}

				&:after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					background: rgba(255, 255, 255, .2);
					display: block;
				}
			}

			.vent-info {
				height: calc(100% - 320px);
				padding: 20px;
				h3 {
					margin-bottom: 15px;
					color: $text-grey;
				}

				p {
					color: $text-grey;
				}
			}
		}
	}

	.btn {
		width: 100%;
		max-width: 300px;
	}
}

.services-block {
	width: 100%;	

	h2 {
		color: $text-grey;
		margin-bottom: 60px;
		width: 100%;
		text-align: center;
	}

	.all-services {
		width: 100%;
		display: grid;
		grid-template-columns: 40% 60%;
		gap: 20px;
		.single-service {
			padding: 30px;	
			border-radius: 25px;
			background: $white;
			display: flex;
			align-items: stretch;
			gap: 20px;

			.image-wrapper {
				width: 350px;
				height: 100%;
				border-radius: 15px;
				overflow: hidden;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					position: relative;
					z-index:1;
				}

				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					display: block;
					background: rgba(0,0,0,.2);
					
				}

				&:after {
					content: '';
					width: calc(100% - 30px);
					height: calc(100% - 30px);
					position: absolute;
					top: 15px;
					left: 15px;
					z-index: 3;
					display: block;
					background: rgba(0,0,0,0);
					border: 5px solid rgba(255,255,255,.7);
				}
			}

			.service-info {
				width: calc(100% - 370px);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 20px;

				h3 {
					margin-bottom: 0;
					color: $text-grey;
				}

				p {
					margin-bottom: 0;
					color: $text-grey;
				}

				a {
					color: $brand-blue;
					display: flex;
					align-items: flex-end;
					gap: 5px;

					h5 {
						margin: 0;
						text-decoration: underline;
						transition: all .25s ease-in-out;
					}

					svg {
						min-width: 24px;
						width: 24px;
						height: 24px;
						color: $brand-blue;
					}

					&:hover {
						h5 {
							text-decoration: none;
						}
					}
				}
			}

			&:first-child {
				flex-direction: column;
				align-items: flex-start;
				grid-column-start: 1;
			    grid-column-end: 2;
			    grid-row-start: 1;
			    grid-row-end: 3;
				.image-wrapper {
					width: 100%;
					height: 497px;

					&:after {
						content: '';
						width: calc(100% - 54px);
						height: calc(100% - 42px);
						position: absolute;
						top: 21px;
						left: 27px;
						z-index: 3;
						display: block;
						background: rgba(0,0,0,0);
						border: 5px solid rgba(255,255,255,.7);
					}
				}

				.service-info {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					gap: 20px;

					h3 {
						margin-bottom: 0;
						color: $text-grey;
					}

					p {
						margin-bottom: 0;
						color: $text-grey;
					}

					a {
						color: $brand-blue;
						display: flex;
						align-items: flex-end;
						gap: 5px;

						h5 {
							margin: 0;
							text-decoration: underline;
							transition: all .25s ease-in-out;
						}

						svg {
							min-width: 24px;
							width: 24px;
							height: 24px;
							color: $brand-blue;
						}

						&:hover {
							h5 {
								text-decoration: none;
							}
						}
					}
				}
			}

			&::nth-child(2) {
				grid-column-start: 2;
			    grid-column-end: 3;
			    grid-row-start: 1;
			    grid-row-end: 2;
			}

			&::last-child {
				grid-column-start: 2;
			    grid-column-end: 3;
			    grid-row-start: 2;
			    grid-row-end: 3;
			}
		}
	}
} 