

.blog-page {
	h2 {
		text-align: center;
		margin-bottom: 46px;
	}
	.collection-articles {
		display: flex;
		color: $text-grey;
		gap: 30px;
		margin-bottom: 50px;
		flex-wrap: wrap;
		.collection-block {
			align-items: stretch;
			height: 564px;
			background-color: $white;
			border-radius: 16px;
			overflow: hidden;
			width: calc((100% - 2 * 30px) / 3);
			img {
				width: 100%;
				height: 350px;
			}
			.articles-block {
				padding: 20px;
				height: calc(100% - 350px);
				justify-content: space-between;
				display: flex;
				flex-direction: column;
			}
		}
	}
	nav {
		ul {
			align-items: center;
			gap: 10px;
			margin-bottom: 100px;
			li{
				width: 40px;
				border-radius: 16px;
				text-align: center;
				&.active {
					a {
					    border-radius: 9px;
					    background-color: $brand-blue;
					}
				}
   				&:focus-visible {
					border: none!important;
				}
				a {
					display: block;
					color: $text-grey;
					font-weight: 500;
					font-size: 24px;
		    		border: none;
    				background: inherit;
    				&:hover {
    					background: none;
    				}
       				&:active {
    					background: none;
    					border: none;
    				}
       				&:focus {
    					background: none;
    					box-shadow: none;
    				}
				}
				span {
					color: $text-grey;
					font-weight: 500;
					font-size: 24px;
		    		border: none;
    				background: none!important;
				}
			}
		}
	}
}	

.post-page {
	color: $black;
	h2 {
		margin-bottom: 24px;
		color: $text-grey;
	}
	.certification-block {
		margin-bottom: 30px;
		img {
			width: 100%;
			object-fit: contain;
			overflow: hidden;
			border-radius: 16px;
			margin-bottom: 30px;
		}
		.text-medium {
			margin-top: 20px;
		}
	}
	.interested-block {
		background: $white;
		border-radius: 16px;
		margin-top: 50px;
		margin-bottom: 100px;
		padding: 40px 25px;
		color: $text-grey;
		h4 {
			margin-bottom: 30px;
		}
		ul {
			list-style: none;
    		padding-left: 0;
			li {
				margin-top: 20px;
				a {
					color: $text-grey;
					&:hover {
						color: $brand-blue;
						text-decoration: underline;
					}
				}
			}
		}
	}
}