body {
  background: #f1f1f1; }

@media screen and (max-width: 1199.9px) {
  main {
    margin-top: 85px; } }

.main-banner {
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 800px;
  position: relative;
  padding: 150px 0; }
  @media screen and (max-width: 1399.9px) {
    .main-banner {
      padding: 100px 0; } }
  .main-banner .video-for-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; }
    .main-banner .video-for-banner:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(57, 57, 57, 0.55);
      z-index: 2;
      pointer-events: none;
      display: block; }
    .main-banner .video-for-banner video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      position: relative;
      z-index: 1; }
  .main-banner .main-info {
    position: relative;
    z-index: 3;
    width: 100%; }
  .main-banner .main-banner-info {
    width: 100%; }
    .main-banner .main-banner-info h1 {
      margin-bottom: 10px;
      color: #ffffff; }
      .main-banner .main-banner-info h1 span {
        color: #00A2E6; }
      @media screen and (max-width: 1199.9px) {
        .main-banner .main-banner-info h1 {
          margin-bottom: 30px;
          max-width: 345px; } }
    .main-banner .main-banner-info h4 {
      margin-bottom: 40px;
      color: #ffffff;
      width: 100%;
      max-width: 527px; }
      @media screen and (max-width: 1199.9px) {
        .main-banner .main-banner-info h4 {
          margin-bottom: 35px; } }
    .main-banner .main-banner-info .btn {
      width: 100%;
      max-width: 300px; }
      @media screen and (max-width: 1199.9px) {
        .main-banner .main-banner-info .btn {
          max-width: 350px; } }
  .main-banner .main-banner-cards {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px; }
    .main-banner .main-banner-cards .single-card {
      width: calc(50% - 10px);
      padding: 25px 22px 37px;
      border-radius: 20px;
      background: rgba(43, 43, 43, 0.6);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 22px;
      transition: all .2s ease-in-out; }
      .main-banner .main-banner-cards .single-card img {
        height: 100px;
        width: auto; }
      .main-banner .main-banner-cards .single-card h5 {
        margin: 0;
        color: #ffffff; }
      .main-banner .main-banner-cards .single-card:hover {
        background: linear-gradient(90deg, #2B2B2B 0%, #6DB9FF 100%); }
      @media screen and (max-width: 1399.9px) {
        .main-banner .main-banner-cards .single-card {
          padding: 15px 15px 20px;
          gap: 15px; }
          .main-banner .main-banner-cards .single-card img {
            height: 80px;
            width: auto; }
          .main-banner .main-banner-cards .single-card h5 {
            font-size: 20px;
            line-height: 30px; } }
    @media screen and (max-width: 1199.9px) {
      .main-banner .main-banner-cards {
        display: none; } }

.vent-block {
  width: 100%; }
  @media screen and (max-width: 1560px) {
    .vent-block .col-xl-10 {
      width: 100% !important; } }
  .vent-block h2 {
    color: #2B2B2B;
    margin-bottom: 60px;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1199.9px) {
      .vent-block h2 {
        margin-bottom: 30px; } }
  .vent-block .all-vent {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 21px;
    margin-bottom: 70px; }
    @media screen and (max-width: 1199.9px) {
      .vent-block .all-vent {
        margin-bottom: 40px;
        gap: 20px; } }
    .vent-block .all-vent .single-vent {
      width: calc(33.33% - 16px);
      border-radius: 25px;
      background: #ffffff; }
      @media screen and (max-width: 1199.9px) {
        .vent-block .all-vent .single-vent {
          width: calc(50% - 10px); } }
      @media screen and (max-width: 767.9px) {
        .vent-block .all-vent .single-vent {
          width: 100%; } }
      .vent-block .all-vent .single-vent a {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: #2B2B2B; }
      .vent-block .all-vent .single-vent .image-wrapper {
        width: 100%;
        height: 320px;
        position: relative;
        border-radius: 25px 25px 0 0;
        overflow: hidden; }
        @media screen and (max-width: 1199.9px) {
          .vent-block .all-vent .single-vent .image-wrapper {
            height: 240px; } }
        .vent-block .all-vent .single-vent .image-wrapper img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: 1; }
        .vent-block .all-vent .single-vent .image-wrapper:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          background: rgba(255, 255, 255, 0.2);
          display: block; }
      .vent-block .all-vent .single-vent .vent-info {
        height: calc(100% - 320px);
        padding: 20px; }
        @media screen and (max-width: 1199.9px) {
          .vent-block .all-vent .single-vent .vent-info {
            height: calc(100% - 240px);
            padding: 20px 15px; } }
        .vent-block .all-vent .single-vent .vent-info h3 {
          margin-bottom: 15px;
          color: #2B2B2B; }
        .vent-block .all-vent .single-vent .vent-info p {
          color: #2B2B2B; }
  .vent-block .btn {
    width: 100%;
    max-width: 300px; }
    @media screen and (max-width: 1199.9px) {
      .vent-block .btn {
        max-width: 345px; } }

.services-block {
  width: 100%; }
  .services-block h2 {
    color: #2B2B2B;
    margin-bottom: 60px;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1199.9px) {
      .services-block h2 {
        margin-bottom: 30px; } }
  .services-block .all-services {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px; }
    @media screen and (max-width: 991.9px) {
      .services-block .all-services {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap; } }
    .services-block .all-services .single-service {
      padding: 30px;
      border-radius: 25px;
      background: #ffffff;
      display: flex;
      align-items: stretch;
      gap: 20px; }
      @media screen and (max-width: 1199.9px) {
        .services-block .all-services .single-service {
          grid-template-columns: 50% 50%;
          padding: 20px; } }
      @media screen and (max-width: 991.9px) {
        .services-block .all-services .single-service {
          width: 100%;
          flex-direction: column;
          align-items: flex-start; } }
      .services-block .all-services .single-service .image-wrapper {
        width: 350px;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: relative; }
        @media screen and (max-width: 1399.9px) {
          .services-block .all-services .single-service .image-wrapper {
            width: 300px; } }
        @media screen and (max-width: 1199.9px) {
          .services-block .all-services .single-service .image-wrapper {
            width: 30%; } }
        @media screen and (max-width: 991.9px) {
          .services-block .all-services .single-service .image-wrapper {
            width: 100%;
            height: 300px; } }
        .services-block .all-services .single-service .image-wrapper img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: relative;
          z-index: 1; }
        .services-block .all-services .single-service .image-wrapper:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          display: block;
          background: rgba(0, 0, 0, 0.2); }
        .services-block .all-services .single-service .image-wrapper:after {
          content: '';
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          position: absolute;
          top: 15px;
          left: 15px;
          z-index: 3;
          display: block;
          background: rgba(0, 0, 0, 0);
          border: 5px solid rgba(255, 255, 255, 0.7); }
      .services-block .all-services .single-service .service-info {
        width: calc(100% - 370px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px; }
        @media screen and (max-width: 1399.9px) {
          .services-block .all-services .single-service .service-info {
            width: calc(100% - 320px); } }
        @media screen and (max-width: 1199.9px) {
          .services-block .all-services .single-service .service-info {
            width: calc(70% - 20px); } }
        @media screen and (max-width: 991.9px) {
          .services-block .all-services .single-service .service-info {
            width: 100%; } }
        .services-block .all-services .single-service .service-info h3 {
          margin-bottom: 0;
          color: #2B2B2B; }
        .services-block .all-services .single-service .service-info p {
          margin-bottom: 0;
          color: #2B2B2B;
          display: block;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
          max-height: 208px; }
          @media screen and (max-width: 1560px) {
            .services-block .all-services .single-service .service-info p {
              font-size: 18px;
              line-height: 24px;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
              max-height: 208px; } }
          @media screen and (max-width: 991.9px) {
            .services-block .all-services .single-service .service-info p {
              -webkit-line-clamp: 8; } }
        .services-block .all-services .single-service .service-info a {
          color: #00A2E6;
          display: flex;
          align-items: flex-end;
          gap: 5px; }
          .services-block .all-services .single-service .service-info a h5 {
            margin: 0;
            text-decoration: underline;
            transition: all .25s ease-in-out; }
          .services-block .all-services .single-service .service-info a svg {
            min-width: 24px;
            width: 24px;
            height: 24px;
            color: #00A2E6; }
          .services-block .all-services .single-service .service-info a:hover h5 {
            text-decoration: none; }
      .services-block .all-services .single-service:first-child {
        flex-direction: column;
        align-items: flex-start; }
        @media screen and (min-width: 768px) {
          .services-block .all-services .single-service:first-child {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3; } }
        .services-block .all-services .single-service:first-child .image-wrapper {
          width: 100%;
          height: 497px; }
          @media screen and (max-width: 1399.9px) {
            .services-block .all-services .single-service:first-child .image-wrapper {
              height: 400px; } }
          @media screen and (max-width: 1199.9px) {
            .services-block .all-services .single-service:first-child .image-wrapper {
              height: 300px; } }
          .services-block .all-services .single-service:first-child .image-wrapper:after {
            content: '';
            width: calc(100% - 54px);
            height: calc(100% - 42px);
            position: absolute;
            top: 21px;
            left: 27px;
            z-index: 3;
            display: block;
            background: rgba(0, 0, 0, 0);
            border: 5px solid rgba(255, 255, 255, 0.7); }
        .services-block .all-services .single-service:first-child .service-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 20px; }
          .services-block .all-services .single-service:first-child .service-info h3 {
            margin-bottom: 0;
            color: #2B2B2B; }
          .services-block .all-services .single-service:first-child .service-info p {
            margin-bottom: 0;
            color: #2B2B2B; }
          .services-block .all-services .single-service:first-child .service-info a {
            color: #00A2E6;
            display: flex;
            align-items: flex-end;
            gap: 5px; }
            .services-block .all-services .single-service:first-child .service-info a h5 {
              margin: 0;
              text-decoration: underline;
              transition: all .25s ease-in-out; }
            .services-block .all-services .single-service:first-child .service-info a svg {
              min-width: 24px;
              width: 24px;
              height: 24px;
              color: #00A2E6; }
            .services-block .all-services .single-service:first-child .service-info a:hover h5 {
              text-decoration: none; }
      @media screen and (min-width: 768px) {
        .services-block .all-services .single-service::nth-child(2) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2; }
        .services-block .all-services .single-service::last-child {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3; } }

.count-block {
  padding: 70px 0;
  background: linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%); }
  @media screen and (max-width: 1199.9px) {
    .count-block {
      padding: 30px 0; } }
  @media screen and (max-width: 991.9px) {
    .count-block {
      padding: 30px 0 0; } }
  .count-block h2 {
    color: #2B2B2B;
    width: 100%;
    text-align: center; }
  .count-block .single-count {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    text-align: center; }
    @media screen and (max-width: 991.9px) {
      .count-block .single-count {
        margin-bottom: 50px; } }
    .count-block .single-count span {
      color: #0089C3;
      display: block;
      font-size: 140px;
      line-height: 140px;
      font-weight: 700; }
      @media screen and (max-width: 1560px) {
        .count-block .single-count span {
          font-size: 110px;
          line-height: 110px; } }
      @media screen and (max-width: 1399.9px) {
        .count-block .single-count span {
          font-size: 90px;
          line-height: 90px; } }
      @media screen and (max-width: 1199.9px) {
        .count-block .single-count span {
          font-size: 70px;
          line-height: 70px; } }
    .count-block .single-count p {
      color: #2B2B2B;
      display: block;
      font-size: 32px;
      line-height: 45px;
      font-weight: 700;
      margin-bottom: 0; }
      @media screen and (max-width: 1560px) {
        .count-block .single-count p {
          font-size: 26px;
          line-height: 38px; } }
      @media screen and (max-width: 1399.9px) {
        .count-block .single-count p {
          font-size: 20px;
          line-height: 30px; } }

.objects-block {
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
  padding-top: 100px; }
  .objects-block .single-object-ind {
    margin-bottom: 40px; }
    .objects-block .single-object-ind h2 {
      margin-bottom: 20px;
      color: #2B2B2B; }
    .objects-block .single-object-ind p {
      margin-bottom: 0;
      color: #2B2B2B; }
  .objects-block .all-objects {
    width: 100%;
    padding: 30px 40px;
    border: 1px dashed #2B2B2B;
    border-radius: 40px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px; }
    @media screen and (max-width: 1399.9px) {
      .objects-block .all-objects {
        gap: 21px; } }
    @media screen and (max-width: 1199.9px) {
      .objects-block .all-objects {
        padding: 10px;
        border: none;
        border-radius: 0;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden; } }
    .objects-block .all-objects .single-object {
      width: calc(25% - 15px);
      padding: 20px;
      background: #ffffff;
      border-radius: 15px;
      box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.16);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 14px; }
      @media screen and (max-width: 1399.9px) {
        .objects-block .all-objects .single-object {
          width: calc(33.33% - 14px); } }
      @media screen and (max-width: 1199.9px) {
        .objects-block .all-objects .single-object {
          width: 100%;
          max-width: 290px;
          padding: 15px; } }
      .objects-block .all-objects .single-object:first-child {
        padding: 0px;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        align-items: flex-start; }
        @media screen and (max-width: 1199.9px) {
          .objects-block .all-objects .single-object:first-child {
            width: 100%;
            max-width: 100%; } }
      .objects-block .all-objects .single-object h2 {
        margin-bottom: 20px;
        color: #2B2B2B; }
        @media screen and (max-width: 1399.9px) {
          .objects-block .all-objects .single-object h2 {
            margin-bottom: 0px; } }
        @media screen and (max-width: 1199.9px) {
          .objects-block .all-objects .single-object h2 {
            margin-bottom: 20px; } }
      .objects-block .all-objects .single-object p {
        margin-bottom: 0;
        color: #2B2B2B; }
      .objects-block .all-objects .single-object .image-wrapper {
        width: 100%;
        height: 180px;
        border-radius: 15px;
        overflow: hidden; }
      .objects-block .all-objects .single-object h5 {
        margin-bottom: 0;
        color: #2B2B2B;
        width: 100%;
        text-align: center; }

.form-block {
  width: 100%; }
  .form-block .form-wrapper {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 50px;
    overflow: hidden;
    background: #ffffff; }
    .form-block .form-wrapper .form-container {
      width: 45%;
      padding: 50px; }
      @media screen and (max-width: 1399.9px) {
        .form-block .form-wrapper .form-container {
          width: 60%;
          padding: 40px 35px; } }
      @media screen and (max-width: 1199.9px) {
        .form-block .form-wrapper .form-container {
          width: 100%;
          padding: 30px 20px; } }
      .form-block .form-wrapper .form-container h3 {
        margin-bottom: 30px;
        color: #2B2B2B; }
        @media screen and (max-width: 1199.9px) {
          .form-block .form-wrapper .form-container h3 {
            margin-bottom: 20px; } }
      .form-block .form-wrapper .form-container form {
        width: 100%; }
      .form-block .form-wrapper .form-container .form-group {
        width: 100%;
        margin-bottom: 20px; }
      .form-block .form-wrapper .form-container .inline-form-group {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap; }
        @media screen and (max-width: 1199.9px) {
          .form-block .form-wrapper .form-container .inline-form-group {
            margin-top: 26px;
            justify-content: center; } }
        .form-block .form-wrapper .form-container .inline-form-group .btn {
          width: 100%;
          max-width: 300px; }
          @media screen and (max-width: 1199.9px) {
            .form-block .form-wrapper .form-container .inline-form-group .btn {
              max-width: 345px; } }
        .form-block .form-wrapper .form-container .inline-form-group span {
          font-family: 'Nunito Sans', sans-serif;
          font-weight: 900;
          font-size: 30px;
          line-height: 30px;
          display: inline-block;
          color: #E02723; }
    .form-block .form-wrapper .image-block {
      width: 55%;
      position: relative; }
      @media screen and (max-width: 1399.9px) {
        .form-block .form-wrapper .image-block {
          width: 40%; } }
      @media screen and (max-width: 1199.9px) {
        .form-block .form-wrapper .image-block {
          display: none; } }
      .form-block .form-wrapper .image-block:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: rgba(43, 43, 43, 0.2); }
      .form-block .form-wrapper .image-block img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }

.about-block {
  width: 100%;
  padding: 120px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 1199.9px) {
    .about-block {
      padding: 50px 0; } }
  .about-block .text-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; }
    @media screen and (min-width: 1200px) {
      .about-block .text-container {
        max-width: 80%; } }
    @media screen and (min-width: 1700px) {
      .about-block .text-container {
        max-width: 50%; } }
  .about-block:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(109, 185, 255, 0.7) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    display: block; }
  .about-block h2 {
    margin-bottom: 40px;
    text-align: left;
    color: #2B2B2B;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 1199.9px) {
      .about-block h2 {
        margin-bottom: 20px;
        width: 100%;
        text-align: center; } }
  .about-block p {
    font-size: 22px;
    line-height: 32px;
    color: #2B2B2B;
    position: relative;
    z-index: 2; }
    .about-block p:not(:last-child) {
      margin-bottom: 35px; }
    @media screen and (max-width: 1199.9px) {
      .about-block p {
        font-size: 16px;
        line-height: 28px; }
        .about-block p:not(:last-child) {
          margin-bottom: 25px; } }

.bg-wrapper {
  padding: 100px 0;
  background: linear-gradient(180deg, #FFFFFF 35.58%, #F1F1F1 100%); }
  @media screen and (max-width: 1199.9px) {
    .bg-wrapper {
      padding: 60px 0; } }

.why-us {
  width: 100%; }
  .why-us h2 {
    margin-bottom: 60px;
    color: #2B2B2B;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1199.9px) {
      .why-us h2 {
        margin-bottom: 40px; } }
  .why-us .single-reason {
    width: 100%;
    height: calc(100% - 40px);
    padding: 30px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px; }
    .why-us .single-reason img {
      width: auto;
      max-width: 100%;
      height: 100px; }
    .why-us .single-reason h4 {
      color: #2B2B2B;
      margin-bottom: 0; }
    .why-us .single-reason h6 {
      color: #2B2B2B;
      margin-bottom: 0; }
    @media screen and (max-width: 1199.9px) {
      .why-us .single-reason {
        height: calc(100% - 20px);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 16px; }
        .why-us .single-reason img {
          height: 50px; } }

.our-projects {
  width: 100%; }
  .our-projects h2 {
    margin-bottom: 30px;
    color: #2B2B2B;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 1199.9px) {
      .our-projects h2 {
        margin-bottom: 20px; } }
  .our-projects p {
    margin: 0 auto 50px;
    color: #2B2B2B;
    width: 100%;
    text-align: center;
    max-width: 995px; }
    @media screen and (max-width: 1199.9px) {
      .our-projects p {
        max-width: 100%; } }
  .our-projects .projects-slider-wrapper {
    width: 100%;
    text-align: center;
    position: relative; }
    .our-projects .projects-slider-wrapper .projects-navigations {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%); }
      .our-projects .projects-slider-wrapper .projects-navigations .projects-swiper-button-prev svg {
        width: 55px;
        height: 55px;
        min-width: 55px;
        color: #00A2E6; }
      .our-projects .projects-slider-wrapper .projects-navigations .projects-swiper-button-next svg {
        width: 55px;
        height: 55px;
        min-width: 55px;
        color: #00A2E6; }
      @media screen and (max-width: 1199.9px) {
        .our-projects .projects-slider-wrapper .projects-navigations {
          position: relative;
          top: auto;
          left: auto;
          transform: translate(0, 0);
          justify-content: center;
          gap: 20px; } }
    .our-projects .projects-slider-wrapper .projects-slider {
      width: 100%;
      max-width: 90%;
      margin: 0 auto; }
      @media screen and (max-width: 1199.9px) {
        .our-projects .projects-slider-wrapper .projects-slider {
          max-width: 100%; } }
      .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide {
        max-width: 560px;
        width: 560px;
        position: relative;
        overflow: hidden;
        padding: 10px; }
        .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide img {
          border-radius: 15px;
          width: 540px;
          height: 380px;
          object-fit: cover;
          object-position: center;
          opacity: 0.8;
          transition: all .2s ease-in-out; }
        .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide:after {
          content: '';
          width: calc(100% - 20px);
          height: 380px;
          background: rgba(0, 0, 0, 0.2);
          position: absolute;
          top: 10px;
          left: 10px;
          border-radius: 15px;
          overflow: hidden;
          transition: all .2s ease-in-out;
          opacity: 0; }
        .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide.swiper-slide-active {
          max-width: 560px;
          width: 560px; }
          .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide.swiper-slide-active img {
            width: 540px;
            height: 380px;
            opacity: 1; }
          .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide.swiper-slide-active:after {
            opacity: 1; }
        .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide .swiper-slide-shadow-left {
          background: transparent !important; }
        .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide .swiper-slide-shadow-right {
          background: transparent !important; }
        @media screen and (max-width: 1199.9px) {
          .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide {
            max-width: 90%;
            width: 100%;
            padding: 0px; }
            .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide img {
              width: 100%;
              height: 500px; }
            .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide:after {
              width: 100%;
              height: 500px;
              top: 0px;
              left: 0px; }
            .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide.swiper-slide-active {
              max-width: 90%;
              width: 100%; }
              .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide.swiper-slide-active img {
                width: 100%;
                height: 500px; } }
        @media screen and (max-width: 767.9px) {
          .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide img {
            height: 350px; }
          .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide:after {
            height: 350px; }
          .our-projects .projects-slider-wrapper .projects-slider .swiper-wrapper .single-slide.swiper-slide-active img {
            height: 350px; } }
      .our-projects .projects-slider-wrapper .projects-slider .projects-swiper-pagination .swiper-pagination-bullet {
        border-radius: 4px;
        width: 60px;
        height: 10px;
        background: #989898; }
        .our-projects .projects-slider-wrapper .projects-slider .projects-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
          background: #00A2E6; }
      @media screen and (max-width: 1199.9px) {
        .our-projects .projects-slider-wrapper .projects-slider .projects-swiper-pagination {
          display: none !important; } }

.steps-block h2 {
  margin-bottom: 60px;
  color: #2B2B2B;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 1199.9px) {
    .steps-block h2 {
      margin-bottom: 30px; } }
.steps-block .all-steps {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 39px;
  margin-bottom: 60px; }
  @media screen and (max-width: 1199.9px) {
    .steps-block .all-steps {
      margin-bottom: 40px;
      gap: 20px;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0 0 10px; } }
  .steps-block .all-steps .single-step {
    width: calc(33.33% - 26px);
    min-height: 280px;
    border-radius: 40px;
    padding: 30px 40px;
    background: linear-gradient(108.19deg, #FFFFFF 62.12%, rgba(109, 185, 255, 0.5) 107.65%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative; }
    .steps-block .all-steps .single-step span {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 900;
      font-size: 250px;
      line-height: 250px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(180deg, #6DB9FF 0%, #0089C3 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: .3; }
    .steps-block .all-steps .single-step img {
      width: 140px;
      height: 140px;
      object-fit: contain;
      object-position: center;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
      opacity: .2; }
    .steps-block .all-steps .single-step h5 {
      color: #2B2B2B;
      margin: 0;
      position: relative;
      z-index: 2; }
    @media screen and (max-width: 1199.9px) {
      .steps-block .all-steps .single-step {
        width: 310px;
        min-width: 310px;
        min-height: 270px;
        border-radius: 15px;
        padding: 20px; }
        .steps-block .all-steps .single-step span {
          font-size: 150px;
          line-height: 150px; }
        .steps-block .all-steps .single-step img {
          width: 100px;
          height: 100px; } }
.steps-block .btn {
  min-width: 300px;
  text-transform: uppercase; }
  @media screen and (max-width: 1199.9px) {
    .steps-block .btn {
      min-width: 100%;
      max-width: 345px; } }

.documents-block {
  padding: 100px 0;
  background: linear-gradient(180deg, #FFFFFF 46.63%, #F1F1F1 100%);
  width: 100%; }
  @media screen and (max-width: 1199.9px) {
    .documents-block {
      padding: 30px 0; } }
  .documents-block .title-block {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px; }
    .documents-block .title-block .title-info {
      width: 100%;
      max-width: 1320px; }
      .documents-block .title-block .title-info h2 {
        margin-bottom: 5px;
        color: #2B2B2B; }
      .documents-block .title-block .title-info p {
        margin-bottom: 0;
        color: #2B2B2B;
        font-size: 22px;
        line-height: 32px; }
    .documents-block .title-block .docs-navigation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 40px; }
      .documents-block .title-block .docs-navigation .docs-swiper-button-prev svg {
        min-width: 60px;
        width: 60px;
        height: 60px;
        color: #00A2E6; }
      .documents-block .title-block .docs-navigation .docs-swiper-button-next svg {
        min-width: 60px;
        width: 60px;
        height: 60px;
        color: #00A2E6; }
    @media screen and (max-width: 1199.9px) {
      .documents-block .title-block {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center; }
        .documents-block .title-block .title-info {
          max-width: 100%;
          text-align: center; }
          .documents-block .title-block .title-info h2 {
            margin-bottom: 7px; }
          .documents-block .title-block .title-info p {
            font-size: 18px;
            line-height: 26px; }
        .documents-block .title-block .docs-navigation {
          justify-content: center; } }
  .documents-block .documents-slider .single-slide {
    padding: 10px 5px;
    cursor: pointer; }
    .documents-block .documents-slider .single-slide img {
      max-width: 100%;
      width: 100%;
      height: 590px;
      object-fit: cover;
      object-position: center;
      border-radius: 16px;
      box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
      border: 3px solid transparent;
      transition: all .2s ease-in-out; }
      @media screen and (max-width: 1199.9px) {
        .documents-block .documents-slider .single-slide img {
          height: 500px; } }
    .documents-block .documents-slider .single-slide.swiper-slide-active img {
      border: 2px solid #00A2E6; }

.director-block {
  width: 100%; }
  .director-block .boss-wrapper {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px; }
    .director-block .boss-wrapper .image-wrapper {
      width: 365px;
      height: 550px;
      border-radius: 35px;
      overflow: hidden; }
      .director-block .boss-wrapper .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top; }
    .director-block .boss-wrapper .boss-info {
      position: relative;
      width: calc(100% - 395px);
      padding: 65px 30px 65px 50px;
      background: #ffffff;
      border-radius: 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px; }
      .director-block .boss-wrapper .boss-info:before {
        content: '';
        width: 250px;
        height: 250px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: url("../../assets/img/quote.svg") no-repeat center; }
      .director-block .boss-wrapper .boss-info .boss-quote {
        width: 100%;
        padding-left: 33px;
        border-left: 3px solid #393939;
        position: relative;
        z-index: 2; }
        .director-block .boss-wrapper .boss-info .boss-quote p {
          font-weight: 600;
          font-size: 28px;
          line-height: 40px;
          color: #2B2B2B;
          margin-bottom: 0;
          font-style: italic; }
          @media screen and (max-width: 1399.9px) {
            .director-block .boss-wrapper .boss-info .boss-quote p {
              font-size: 22px;
              line-height: 32px; } }
      .director-block .boss-wrapper .boss-info .boss-name-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        z-index: 2; }
        .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-name {
          font-weight: 700;
          font-size: 28px;
          line-height: 40px;
          text-align: right;
          color: #2B2B2B;
          display: block;
          font-style: italic; }
          @media screen and (max-width: 1399.9px) {
            .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-name {
              font-size: 22px;
              line-height: 32px; } }
        .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-role {
          font-weight: 600;
          font-size: 28px;
          line-height: 40px;
          text-align: right;
          color: #989898;
          display: block;
          font-style: italic; }
          @media screen and (max-width: 1399.9px) {
            .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-role {
              font-size: 22px;
              line-height: 32px; } }
    @media screen and (max-width: 1199.9px) {
      .director-block .boss-wrapper .boss-info {
        padding: 30px 20px; }
        .director-block .boss-wrapper .boss-info .boss-quote p {
          font-size: 20px;
          line-height: 30px; }
        .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-name {
          font-size: 20px;
          line-height: 30px; }
        .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-role {
          font-size: 20px;
          line-height: 30px; } }
    @media screen and (max-width: 991.9px) {
      .director-block .boss-wrapper {
        max-width: 100%;
        gap: 0px;
        flex-wrap: wrap; }
        .director-block .boss-wrapper .image-wrapper {
          width: 100%;
          height: auto;
          border-radius: 15px 15px 0 0; }
        .director-block .boss-wrapper .boss-info {
          position: relative;
          width: 100%;
          padding: 30px 20px;
          border-radius: 0 0 15px 15px; }
          .director-block .boss-wrapper .boss-info:before {
            width: 150px;
            height: 150px;
            left: 0;
            right: auto; }
          .director-block .boss-wrapper .boss-info .boss-quote {
            width: 100%;
            padding-left: 0;
            border-left: none; }
            .director-block .boss-wrapper .boss-info .boss-quote p {
              font-size: 18px;
              line-height: 26px; }
          .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-name {
            font-size: 18px;
            line-height: 26px; }
          .director-block .boss-wrapper .boss-info .boss-name-wrapper .boss-role {
            font-size: 18px;
            line-height: 26px; } }

.map-block {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 991.9px) {
    .map-block {
      flex-wrap: wrap; } }
  .map-block iframe {
    min-width: 100vw;
    width: 100vw;
    height: 500px; }
  .map-block .contact-map-wrapper {
    position: absolute;
    top: auto;
    right: calc(25% - 210px);
    z-index: 1;
    width: 420px;
    padding: 30px 30px 40px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.15); }
    .map-block .contact-map-wrapper h3 {
      margin-bottom: 20px;
      color: #2B2B2B; }
    .map-block .contact-map-wrapper .contacts-block {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      flex-direction: column; }
      .map-block .contact-map-wrapper .contacts-block .single-element {
        width: 100%; }
        .map-block .contact-map-wrapper .contacts-block .single-element a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #2B2B2B; }
          .map-block .contact-map-wrapper .contacts-block .single-element a:hover {
            color: #00A2E6; }
        .map-block .contact-map-wrapper .contacts-block .single-element div {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #2B2B2B; }
        .map-block .contact-map-wrapper .contacts-block .single-element svg {
          min-width: 25px;
          width: 25px;
          height: 25px; }
        .map-block .contact-map-wrapper .contacts-block .single-element h6 {
          margin: 0; }
    @media screen and (max-width: 991.9px) {
      .map-block .contact-map-wrapper {
        position: relative;
        top: auto;
        right: auto;
        z-index: 1;
        width: 100%;
        padding: 30px 30px 40px;
        border-radius: 0; } }

.breadcrumb {
  margin-top: 80px;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500; }
  .breadcrumb li a {
    color: #00A2E6;
    text-decoration: none; }
    .breadcrumb li a:hover {
      text-decoration: underline; }
  .breadcrumb li.current {
    color: #989898; }

.about-block-page .about-block {
  padding-top: 0;
  padding-bottom: 176px; }
  .about-block-page .about-block:before {
    display: none; }
.about-block-page .director-block {
  margin-bottom: 80px; }
.about-block-page .count-block {
  padding: 70px 0; }
.about-block-page .bg-wrapper {
  padding-top: 76px; }
.about-block-page .why-us h2 {
  margin-bottom: 100px; }
.about-block-page .proud-block h2 {
  text-align: center;
  margin-bottom: 40px; }
.about-block-page .proud-block .proud-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 35px;
  margin-bottom: 110px; }
  .about-block-page .proud-block .proud-wrapper .proud-info {
    width: 330px;
    box-shadow: 4px 4px 24px 0px #00000029;
    overflow: hidden;
    border-radius: 16px 16px 0 0; }
    .about-block-page .proud-block .proud-wrapper .proud-info .proud-quote {
      color: #2B2B2B;
      text-align: center;
      padding: 10px 15px 21px; }
      .about-block-page .proud-block .proud-wrapper .proud-info .proud-quote .text-normal {
        color: #989898; }

.portfolio-page .video-projects .video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 30px; }
  .portfolio-page .video-projects .video-grid .card {
    padding: 18px;
    border-radius: 16px;
    background-color: #f8f9fa;
    box-shadow: 4px 4px 24px 0px #00000029;
    border: none;
    overflow: hidden; }
    .portfolio-page .video-projects .video-grid .card video {
      border-radius: 16px; }
.portfolio-page .documents-block {
  background: none; }
  .portfolio-page .documents-block .title-block {
    margin-bottom: 60px; }
    .portfolio-page .documents-block .title-block .title-info h2 {
      margin-bottom: 30px;
      font-weight: 900; }
    .portfolio-page .documents-block .title-block .title-info p {
      font-weight: 400; }

.documents-page .documents-block {
  background: none; }
  .documents-page .documents-block .title-block {
    margin-bottom: 60px; }
    .documents-page .documents-block .title-block .title-info h2 {
      margin-bottom: 20px;
      font-weight: 900; }
    .documents-page .documents-block .title-block .title-info p {
      font-weight: 400;
      color: #000000; }

/*# sourceMappingURL=pages.css.map */
